# Colcon/ROS 2 build artifacts
build/
install/
log/
/home/matei/ur_yt_ws/src/build
/home/matei/ur_yt_ws/src/log
/home/matei/ur_yt_ws/src/install

# Python artifacts
*.pyc
__pycache__/

# CMake artifacts
CMakeCache.txt
CMakeFiles/
